{# templates/exception/access_denied.html.twig #}


{% block title %}Accès Refusé{% endblock %}

{% block body %}
    <h1>Accès Refusé</h1>
    <p>Vous n'avez pas les droits nécessaires pour accéder à cette ressource.</p>
{% endblock %}
