{# templates/exception/not_found.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Page Non Trouvée{% endblock %}

{% block body %}
    <h1>Page Non Trouvée</h1>
    <p>La page que vous recherchez n'existe pas.</p>
{% endblock %}
