{# templates/moniteur/edit.html.twig #}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" type="submit">Enregistrer</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
{{ form_end(form) }}