{# templates/user_club/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un Utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un Utilisateur</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
